<div class="card" style="width:600px; margin-left:auto; margin-top:50px; margin-right:auto">
    <div class="card-header bg-dark text-white" style="text-align:center">
    Calorie
    </div>
    <div class="card-body">
        <b>Calorie date: </b><%= @calorie.day %></br>
        <b>Quantity_calories: </b><%= @calorie.quantity_calories %></br>
        <b>Calorie type: </b><%= @calorie.kind %></br>
        <b>Calorie comment: </b><%= @calorie.comment %>
    </div>
</div>