<nav class="navbar navbar-expand-lg bg-dark">
<!-- Container wrapper -->
<div class="container-fluid">
  <!-- Toggle button -->
  <button
    class="navbar-toggler"
    type="button"
    data-mdb-toggle="collapse"
    data-mdb-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>

  <!-- Collapsible wrapper -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Navbar brand -->
    
    <!-- Left links -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/home" style="color:white">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/calories/new" style="color:white">Enter calories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shareprogress" style="color:white">Share progress</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mifflin" style="color:white">Bonus</a>
      </li>
    </ul>
    <!-- Left links -->
  </div>
  <!-- Collapsible wrapper -->

  <!-- Right elements -->
  <div class="d-flex align-items-center">
    <div class="nav-item">
        <a class="nav-link" href="/users/edit" style="color:white">Settings</a>
    </div>
    <div id="log_out" class="btn btn-primary">
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, style:"color:white;text-decoration:none" %>
    </div>
  </div>
  
</nav>